@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: darkblue;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.game-container {
    background-color: darkblue;
}


.table {
    background-color: green;
    height: 700px;
    width: 870px;
    border-radius: 50%;
    margin: 0 auto;
    border: 1em solid black;
    display: inline-block;
}

.board {
    position: relative;
    top: 40%;
    left: 30%;
}

.player-name-bar {
    position: relative;
    display: inline-block;
    margin: 0 0;
    top: 70%;
    font-size: 12px;
    font-weight: bold;
}

.player-info-bar {
    position: relative;
    display: block;
    margin: 0 0;
    top: 90%;
    float:left;
    font-size: 10px;
    font-weight: bold;
}

.player-seat {
    position: relative;
    border: .1em solid black;
    border-radius: 5%;
    background-color: lightseagreen;
    width: 140px;
    height: 140px;
    display: block;
    padding: 10px;
    margin: 0 0;
}
    .player-seat.player1 {
        position: absolute;
        top: 600px;
        left: 350px;
    }

    .player-seat.player2 {
        position: absolute;
        top: 600px;
        left: 100px;
    }


    .player-seat.player3 {
        position: absolute;
        top: 400px;
        left: 20px;
    }


    .player-seat.player4 {
        position: absolute;
        top: 220px;
        left: 20px;
    }

    .player-seat.player5 {
        position: absolute;
        top: 50px;
        left: 160px;
    }

    .player-seat.player6 {
        position: absolute;
        top: 10px;
        left: 350px;
    }

    .player-seat.player7 {
        position: absolute;
        top: 50px;
        left: 550px;
    }

    .player-seat.player8 {
        position: absolute;
        top: 220px;
        left: 760px;
    }

    .player-seat.player9 {
        position: absolute;
        top: 400px;
        left: 760px;
    }

    .player-seat.player10 {
        position: absolute;
        top: 600px;
        left: 600px;
    }

    .player-seat.is-active {
        border: .2em solid yellow;
    }

.player-cards {
    position: absolute;
    display: inline-block;
    margin: 0 0;
    top: 10%;
    left: 10%;
    height: 100px;
}

.player-action-bar {
    position: absolute;
    display: block;
    margin: 0 0;
    top: 800px;
    left: 100px;
}

.card {
    border: .2em solid black;
    border-radius: 10%;
    height: 100px;
    width: 70px;
    margin-right: 5px;
    float: left;
    background-color: white;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-small {
    border: .1em solid black;
    border-radius: 10%;
    height: 70px;
    width: 50px;
    margin-right: 2px;
    float: left;
    background-color: white;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-face {
    position: absolute;
    height: 95%;
    width: 95%; /*70% of height*/
    float: left;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-face-front {
    background: royalblue;
}

.card-face-back {
    background: white;
    transform: rotateY( 180deg );
}

.card-small.is-flipped {
    transform: rotateY(180deg);
}

.card.is-flipped {
    transform: rotateY(180deg);
}


.card-text {
    margin: 0;
    margin-top: 13%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}

.card-text-small {
    margin: 0;
    margin-top: 13%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
}

.card-img {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.card-img-small {
    text-align: center;
    margin: 0;
    font-size: 1em;
}

.red {
    color: red;
}

.black {
    color: black;
}