@using TexasHoldemWeb.Components;
@using TexasHoldemWeb.Models;
@using Darkhood.TexasHoldem.Core;

<div class="player-seat @_playerSeatPositionCss @_playerSeatActiveCss">
    <div class="player-cards">
        <PlayingCard Model="PlayerModel.FirstCard" IsSmall="true"></PlayingCard>
        <PlayingCard Model="PlayerModel.SecondCard" IsSmall="true"></PlayingCard>
    </div>
    <div class="player-name-bar">@PlayerModel.PlayerName</div>
    <div class="player-info-bar">$@Convert.ToInt32(PlayerModel.Chips)</div>
</div>

@code {
    [Parameter] public PlayerModel PlayerModel { get; set; }
    [Parameter] public bool IsActive { get; set; }

    string _playerSeatPositionCss => $"player{PlayerModel.PlayerId}";
    string _playerSeatActiveCss => IsActive ? "is-active" : "";
}
